@mixin Popover() {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    opacity: 0;
    visibility: hidden;

    &.magnet-popover--show {
        opacity: 1;
        visibility: visible;
    }
}
