@use "../../lib/design-tokens";
@use "../../lib/spacing";

@use "./variables";
@use "../input/variables" as inputVariables;

@mixin TextareaInput() {
    @include spacing.PaddingTop(0);
    @include spacing.MarginTop(inputVariables.$input-padding-top);
}

@mixin TextareaTheme($colorMode) {
    &.magnet-textarea {
        .magnet-textarea--container {
            border-color: design-tokens.getTokenColor(border, $colorMode);
            background-color: design-tokens.getTokenColor(
                primary-container,
                $colorMode
            );
            color: design-tokens.getTokenColor(
                on-primary-container,
                $colorMode
            );

            &:before {
                background-color: design-tokens.getTokenColor(
                    primary,
                    $colorMode
                );
            }
        }

        &.magnet-textarea--focus {
            label {
                color: design-tokens.getTokenColor(primary, $colorMode);
            }
        }

        &.magnet-textarea--error {
            .magnet-textarea--container {
                border-color: design-tokens.getTokenColor(error, $colorMode);
                background-color: design-tokens.getTokenColor(
                    error-container,
                    $colorMode
                );
                color: design-tokens.getTokenColor(
                    on-error-container,
                    $colorMode
                );

                &:before {
                    background-color: design-tokens.getTokenColor(
                        error,
                        $colorMode
                    );
                }
            }

            &.magnet-textarea--focus {
                label {
                    color: design-tokens.getTokenColor(error, $colorMode);
                }
            }
        }

        &.magnet-textarea--disabled {
            .magnet-textarea--container {
                border-color: design-tokens.getTokenColor(
                    on-disabled,
                    $colorMode
                );
                background-color: design-tokens.getTokenColor(
                    disabled,
                    $colorMode
                );
                color: design-tokens.getTokenColor(on-disabled, $colorMode);
            }
        }
    }
}
