$input-border-radius: 18px;
$input-height: 56px;
$input-padding-top: 6;
$input-padding-bottom: 2;
$input-padding-horizontal: 4;
$input-margin-bottom: 4;

$input-icon-margin: 4;

$input-hint-margin-top: 1;
