$card-elevation: 1 !default;

$card-title-height: 64px !default;
$card-title-padding-horizontal: 6 !default;
$card-title-padding-top: 3 !default;
$card-title-padding-bottom: 2 !default;
$card-title-typography: "h4" !default;

$card-body-padding: 6 !default;

$card-actions-padding-horizontal: 6 !default;
$card-actions-padding-vertical: 6 !default;
