@use "../../lib/design-tokens";
@use "../../lib/shapes";
@use "../../lib/spacing";
@use "../../lib/transition";
@use "../../lib/typography";

@use "./variables";

@mixin NavBar() {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height: variables.$nav-bar-height;
    width: 100%;
    @include spacing.PaddingVertical(variables.$nav-bar-padding-vertical);
    @include spacing.PaddingHorizontal(variables.$nav-bar-padding-horizontal);
}

@mixin NavBarLink() {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    min-height: variables.$nav-bar-link-size;
    max-height: variables.$nav-bar-link-size;
    min-width: variables.$nav-bar-link-size;
    @include shapes.Shape(md);
    @include typography.Typography(label);
    @include spacing.MarginHorizontal(1);
    @include spacing.PaddingHorizontal(
        variables.$nav-bar-link-padding-horizontal
    );

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: inherit;
        background-color: currentColor;
        opacity: 0;
        @include transition.Transition((opacity));
    }

    &:hover:before {
        opacity: 0.1;
    }

    &:active:before {
        opacity: 0.2;
    }
}

@mixin NavBarLinkDisabled() {
    cursor: not-allowed;

    &:before {
        content: none;
    }
}

@mixin NavBarTheme($colorMode) {
    &.magnet-nav-bar {
        background-color: design-tokens.getTokenColor(surface, $colorMode);
        color: design-tokens.getTokenColor(on-surface, $colorMode);
    }
}

@mixin NavBarLinkTheme($colorMode) {
    .magnet-nav-bar-link {
        color: design-tokens.getTokenColor(primary, $colorMode);

        &.magnet-nav-bar-link--active {
            background-color: design-tokens.getTokenColor(
                primary-container,
                $colorMode
            );
            color: design-tokens.getTokenColor(
                on-primary-container,
                $colorMode
            );
        }

        &.magnet-nav-bar-link--disabled {
            color: design-tokens.getTokenColor(disabled, $colorMode);
        }
    }
}
