@use "../../lib/design-tokens";
@use "../../lib/elevation";
@use "../../lib/spacing";
@use "../../lib/typography";

@use "./variables";

@mixin Banner() {
    position: relative;
    display: flex;
    flex-direction: column;
    border: none;
}

@mixin BannerContent() {
    display: flex;
    @include spacing.PaddingVertical(
        variables.$banner-content-padding-vertical
    );
    @include spacing.PaddingHorizontal(
        variables.$banner-content-padding-horizontal
    );
}

@mixin BannerIcon() {
    display: inline-flex;
    @include spacing.MarginTop(1);
    @include spacing.MarginRight(4);
}

@mixin BannerTitle() {
    @include typography.Typography("h5");
}

@mixin BannerActions() {
    display: flex;
    flex-direction: row-reverse;
    @include spacing.MarginTop(variables.$banner-actions-padding-top);
    @include spacing.PaddingBottom(variables.$banner-actions-padding-bottom);
    @include spacing.PaddingHorizontal(
        variables.$banner-actions-padding-horizontal
    );
}

@mixin BannerTheme($colorMode) {
    &.magnet-banner {
        background-color: design-tokens.getTokenColor(surface, $colorMode);
        color: design-tokens.getTokenColor(on-surface, $colorMode);

        &.magnet-banner--info {
            .magnet-banner--icon {
                color: design-tokens.getTokenColor(primary, $colorMode);
            }
        }
        @each $color in variables.$available-colors {
            &.magnet-banner--#{$color} {
                .magnet-banner--icon {
                    color: design-tokens.getTokenColor($color, $colorMode);
                }
            }
        }

        &.magnet-banner--filled {
            &.magnet-banner--info {
                background-color: design-tokens.getTokenColor(
                    primary-container,
                    $colorMode
                );
                color: design-tokens.getTokenColor(
                    on-primary-container,
                    $colorMode
                );
            }
            @each $color in variables.$available-colors {
                &.magnet-banner--#{$color} {
                    background-color: design-tokens.getTokenColor(
                        #{$color}-container,
                        $colorMode
                    );
                    color: design-tokens.getTokenColor(
                        on-#{$color}-container,
                        $colorMode
                    );
                }
            }
        }
    }
}
