$banner-content-padding-horizontal: 6;
$banner-content-padding-vertical: 6;
$banner-actions-padding-horizontal: 6;
$banner-actions-padding-top: -4;
$banner-actions-padding-bottom: 4;

$available-colors: "success", "warning", "error" !default;
