$color-light: #1a1a1a;
$color-dark: #000000;

$elevation-key-opacity: 0.3;
$elevation-ambient-opacity: 0.15;

$elevation-key-map: (
    0: 0 0px 0px 0,
    1: 0 1px 2px 0,
    2: 0 1px 2px 0,
    3: 0 1px 3px 0,
    4: 0 2px 3px 0,
    5: 0 4px 4px 0
) !default;

$elevation-ambient-map: (
    0: 0 0px 0px 0px,
    1: 0 1px 3px 1px,
    2: 0 2px 6px 2px,
    3: 0 4px 8px 3px,
    4: 0 6px 10px 4px,
    5: 0 8px 12px 5px
) !default;
