$font-family: "Noto sans", sans-serif;

$typography-h1: (
    "font-size": 45px,
    "line-height": 52px,
    "font-weight": 400,
    "letter-spacing": 0
);
$typography-h2: (
    "font-size": 36px,
    "line-height": 44px,
    "font-weight": 400,
    "letter-spacing": 0
);
$typography-h3: (
    "font-size": 32px,
    "line-height": 40px,
    "font-weight": 400,
    "letter-spacing": 0
);
$typography-h4: (
    "font-size": 24px,
    "line-height": 32px,
    "font-weight": 400,
    "letter-spacing": 0
);
$typography-h5: (
    "font-size": 22px,
    "line-height": 28px,
    "font-weight": 400,
    "letter-spacing": 0
);
$typography-h6: (
    "font-size": 16px,
    "line-height": 24px,
    "font-weight": 500,
    "letter-spacing": 0
);
$typography-body: (
    "font-size": 16px,
    "line-height": 24px,
    "font-weight": 400,
    "letter-spacing": 0
);
$typography-label: (
    "font-size-": 12px,
    "line-height": 16px,
    "font-weight": 500,
    "letter-spacing": 0
);
$typography-caption: (
    "font-size-": 12px,
    "line-height": 16px,
    "font-weight": 400,
    "letter-spacing": 0
);

$typography: (
    h1: $typography-h1,
    h2: $typography-h2,
    h3: $typography-h3,
    h4: $typography-h4,
    h5: $typography-h5,
    h6: $typography-h6,
    body: $typography-body,
    label: $typography-label,
    caption: $typography-caption
);
