@use "../../lib/design-tokens";
@use "../../lib/typography";

@mixin Hint() {
    display: flex;
    flex-direction: column;

    span {
        display: flex;
        @include typography.Typography(caption);
    }
}

@mixin HintTheme($colorMode) {
    &.magnet-hint {
        color: design-tokens.getTokenColor(on-background, $colorMode);

        &.magnet-hint--error {
            color: design-tokens.getTokenColor(error, $colorMode);
        }
    }
}
