@use "../../lib/design-tokens";

@use './mixins';

// Basic Styles
.magnet-hint {
    @include mixins.Hint();
}

// Light Theme
.theme-light.magnet-hint {
    color: design-tokens.getTokenColor(disabled, light);

    &.magnet-hint--error {
        color: design-tokens.getTokenColor(error, light);
    }
}

// Dark Theme
.theme-dark.magnet-hint {
    color: design-tokens.getTokenColor(disabled, dark);

    &.magnet-hint--error {
        color: design-tokens.getTokenColor(error, dark);
    }
}
