@use "../input/input";

@use './mixins';

// Basic Styles
.magnet-textfield {
    @include input.Input();

    .magnet-textfield--container {
        @include input.InputContainer();

        .magnet-textfield--prepend-icon {
            @include input.InputPrependIcon();
        }

        .magnet-textfield--inner-container {
            @include input.InputInnerContainer();

            label {
                @include input.InputLabel();
            }

            input {
                @include input.InputElement();
            }
        }

        .magnet-textfield--append-icon {
            @include input.InputAppendIcon();
        }
    }

    &.magnet-textfield--focus {
        .magnet-textfield--container {
            @include input.InputContainerWithFocus();
        }
    }

    &.magnet-textfield--value,
    &.magnet-textfield--focus {
        .magnet-textfield--container {
            label {
                @include input.InputLabelWithValueOrFocus();
            }
        }
    }

    &.magnet-textfield--disabled {
        .magnet-textfield--container {
            cursor: not-allowed;
            background-color: transparent;

            input {
                cursor: not-allowed;
            }
        }
    }
}

// Light Theme
.theme-light {
    @include mixins.TextfieldTheme(light);
}

// Dark Theme
.theme-dark.magnet-textfield {
    @include mixins.TextfieldTheme(dark);
}
